<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<target name="E4 Cookbook Target Platform" sequenceNumber="1568034040">
	<locations>
		<location
		  includeAllPlatforms="false" 
		  includeConfigurePhase="false" 
		  includeMode="planner" 
		  includeSource="true" 
		  type="InstallableUnit">

            <unit 
                id="org.eclipse.equinox.executable.feature.group" 
                version="3.8.2400.v20240213-1244"/>
            <unit 
                id="org.eclipse.sdk.feature.group" 
                version="4.31.0.v20240229-1022"/>
				
            <unit 
                id="org.eclipse.equinox.core.feature.feature.group" 
                version="1.15.0.v20240214-0846"/>
            <unit 
                id="org.eclipse.equinox.p2.core.feature.feature.group" 
                version="1.7.100.v20240220-1431"/>
				
            <repository 
                location="https://download.eclipse.org/releases/2024-03"/>
		</location>
    	<location 
    	   includeAllPlatforms="false" 
    	   includeConfigurePhase="false" 
    	   includeMode="planner" 
    	   includeSource="true" 
    	   type="InstallableUnit">
            
        	<unit 
        	   id="org.fipro.e4.service.preferences.feature.feature.group" 
        	   version="0.5.0.202406031042"/>
        	
        	<repository 
        	   location="https://github.com/fipro78/e4-preferences/raw/master/releases/0.5.0"/>
    	</location>
    	<location 
        	includeAllPlatforms="false" 
        	includeConfigurePhase="false" 
        	includeMode="planner" 
        	includeSource="true" 
        	type="InstallableUnit">
        	
        	<unit 
            	id="org.eclipse.fx.runtime.min.feature.feature.group" 
            	version="3.9.0.202210162353"/>
        	<unit 
            	id="org.eclipse.fx.target.rcp4.feature.feature.group" 
            	version="3.9.0.202210170008"/>
        	
        	<repository 
        	   location="http://download.eclipse.org/efxclipse/runtime-released/3.9.0/site"/>
    	</location>
    	<location 
    	   includeAllPlatforms="false" 
    	   includeConfigurePhase="false" 
    	   includeMode="planner" 
    	   includeSource="true" 
    	   type="InstallableUnit">
    	   
        	<unit 
            	id="openjfx.media.feature.feature.group" 
            	version="17.0.2.202204012121"/>
        	<unit 
            	id="openjfx.standard.feature.feature.group" 
            	version="17.0.2.202204012121"/>
        	<unit 
            	id="openjfx.swt.feature.feature.group" 
            	version="17.0.2.202204012121"/>
        	<unit 
            	id="openjfx.web.feature.feature.group" 
            	version="17.0.2.202204012121"/>
            	
        	<repository 
        	   location="https://downloads.efxclipse.bestsolution.at/p2-repos/openjfx-17.0.2/"/>
    	</location>
	</locations>
</target>